.step1Content form {
    margin-top: 50px;
}

.step1Content .labelGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.step1Content .labelGroup label {
    display: block;
    font-size: 0.9rem;
    color: var(--primary);
    font-weight: 500;
    margin-bottom: 8px;
}


.step1Content .labelGroup span {
    margin-bottom: 8px;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: auto;
    color: var(--coral-red);
}

.step1Content input {
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    padding: 12px;
    outline: none;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    color: var(--primary);
    font-weight: 500;
    margin-bottom: 20px;
}

.step1Content input:focus {
    border-color: var(--primary);
}

.step1Content input.error {
    border-color: #da5d71;
}


::placeholder{
    color: var(--grey);
}