main {
    display:flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.stepsContainer {
    background-color: white; 
    width: 900px;
    height: 600px;
    padding: 16px 0 16px 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    max-width: 90vw;
}

@media (max-width: 900px) {
    .stepsContainer {
        padding: 32px;
        margin-top: 100px;
        height: auto;

    }
    main {
        align-items: flex-start;
    }
  }