.sideBar {
    width: var(--sideBarWidthDesk);
    height: var(--sideBarHeightDesk);
    max-height: 550px;
    background-image: url("../../assets/bg-sidebar-desktop.svg");
}

.stepInfoContainer{
    display:flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 30px;
    align-items: center;
    max-width: fit-content;
}

.stepDescription {
    margin-left: 16px;
}

.stepDescription p:first-child{
    font-size: 0.8rem;
    color:rgba(255, 255, 255, 0.5);
}

.stepDescription p:nth-child(2){
    font-weight: 500;
    color: white;
}

@media (max-width: 900px) {
    .sideBar {
        display: none;
    }
  }