:root {
    /* palette */
    --cake-blue: #eef5ff;
    --secondary: #9fa0a5;
    --primary: #082e5c;
    --aquamarine: #bee3ff;
    --light-grey: #dcdcdf;
    --coral-red: #da5d71;
    --grey: #c6c7cf;
    --purple: #483eff;
    /* other */
    --sideBarWidthDesk: 274px;
    --sideBarHeightDesk: 568px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
}

body {
    background-color: var(--cake-blue);
    font-family: 'Ubuntu', sans-serif;
    color: var(--primary);
}

.btn {
    padding: 16px 28px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--secondary);
    background-color: transparent;
    font-weight:700;
}

.btn:hover {
    color: var(--primary);
    transition: color ease-in-out 0.15s;
}

.btn-primary {
    background-color: var(--primary);
    color:white;
    font-weight: 400;
}

.btn-purple {
    background-color: var(--purple);
    color:white;
    font-weight: 400;
}

.btn-primary:hover, 
.btn-purple:hover  {
    opacity: 0.85;
    color: white;
    transition: opacity ease-in-out 0.15s;
}

.btn:active {
    opacity: 0.2;
}

.next-button {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.next-button.mobile {
    right: 20px;
    bottom: 20px;
}

.go-back-button {
    position: absolute;
    bottom: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: fit-content;
}

.go-back-button.mobile {
    bottom: 20px;
    left: 20px;
}

.stepTitle {
    font-size: 2rem;
    margin-top: 16px;  
}

.stepSubtitle {
    color: var(--secondary);
    margin-top: 10px;
}

.step-circle {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
}

.active-circle {
    background-color: var(--aquamarine);
    color: var(--primary);
    font-weight: 500;
    border-color: transparent;
}

.step-circle  > p {
    margin: auto;
    color: white;
}

.step-circle  > p.active-label {
    color: var(--primary);
}

@media (max-width: 350px) {
    html {
        font-size: 14px;
    }
  }
